<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Main</title>

    <link href="{% static '/main/bootstrap/sb-admin-2.min.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/89a12d4a7e.js" crossorigin="anonymous"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'main/navbar_side.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'main/navbar_top.html' %}
          

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800" id="job_title"> 직무 지원자 분석</h1>
                        <select id="job_suitability_select">
                            {% for suitability in job_suitabilitys %}
                            <option value="{{ suitability.id }}" data-jobname="{{ suitability.job_name }}">{{ suitability.job_name }}</option>
                            {% endfor %}
                        </select>
                        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
                    </div>

                    <!-- Content Row -->
                    {% include 'main/content_row.html' %}

                    {% include 'main/age_chart.html' %}
                    <!-- Content Row -->

                    <div class="row">

             

                        

                        <div class="col-xl-12 col-lg-7">

                            {% include 'main/dashboard_table.html' %}

                        </div>
                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'main/footer.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

            <script>
                $(document).ready(function() {
                    var allJobs = JSON.parse('{{ jobs|escapejs }}');
                    var currentPage = 1;
                    var itemsPerPage = 10;
                    var suitableJobs = allJobs;
                    var suitability = 0;
                
                    function renderTable() {
                        var start = (currentPage - 1) * itemsPerPage;
                        var end = start + itemsPerPage;
                        var pageJobs = suitableJobs.slice(start, end);
                
                        var table_body = $("#table_body");
                        table_body.empty();
                        pageJobs.forEach(function(job) {
                            var score = job.fields.suitability_score.toFixed(2);
                
                            var row = "<tr><td>" + job.fields.No + "</td><td>" + job.fields.name + "</td><td>" + job.fields.email + "</td><td>" + job.fields.Age + "</td><td>" + score + "%</td></tr>";
                            table_body.append(row);
                        });
                    }
                
                    function checkButtons() {
                        $('#prev').prop('disabled', currentPage === 1);
                        $('#next').prop('disabled', currentPage === Math.ceil(suitableJobs.length / itemsPerPage));
                    }
                
                    $("#prev").click(function() {
                        currentPage--;
                        renderTable();
                        checkButtons();
                    });
                
                    $("#next").click(function() {
                        currentPage++;
                        renderTable();
                        checkButtons();
                    });
                
                    $("#job_suitability_select").change(function() {
                        var selected_suitability = $(this).children("option:selected");

                        var job_name = selected_suitability.data('jobname');
                        $("#job_title").text(job_name + ' 직무 지원자 테이블');

                        suitableJobs = allJobs.filter(function(job) {
                            return job.fields.job_name === job_name;
                        });

                        currentPage = 1; 
                        renderTable();
                        checkButtons();

                        // AJAX 요청
                        $.ajax({
                            url: '/main/get_jobs/',  
                            type: 'GET',
                            data: {
                                'job_name': job_name
                            },
                            dataType: 'json',
                            success: function (data) {
                                suitability = data.suitability;

                                $('.text-primary.text-uppercase.mb-1').text(job_name + ' 지원자의 수');
                                $('.font-weight-bold.text-gray-800').eq(0).text(data.count + '명');
                                $('.text-info.text-uppercase.mb-1').text(job_name + ' 직무 적합도 '+ suitability +'% 이상');
                                $('.font-weight-bold.text-gray-800').eq(1).text(suitability + '%');
                                $('.progress-bar').css('width', suitability + '%').attr('aria-valuenow', suitability);
                                $('.text-success.text-uppercase.mb-1').text('적합도 ' + suitability + '% 이상 사람의 수');
                                $('.font-weight-bold.text-gray-800').eq(2).text(data.suitable_count + '명');

                                // Handle the new age_distribution data
                                for (var age_range in data.age_distribution) {
                                    var percent = data.age_distribution[age_range] * 100;
                                    $('.small:contains("' + age_range + '") span').text(percent.toFixed(2) + '%');
                                    $('.small:contains("' + age_range + '")').next().children().css('width', percent + '%').attr('aria-valuenow', percent);
                                }
                            }
                        });

                        renderTable();
                        checkButtons();
                    });
               });
                </script>
                
                

    </body>

</html>